.doctors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
#doctors h2{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    color: rgb(71, 75, 77);
}

/* *Responsive style */

@media only screen and (max-width:688px) {
    .doctors-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:689px) and (max-width:991px) {
    .doctors-container{
        grid-template-columns: repeat(2, 1fr);
    }
}